
.navbar-dark
{
  background:#131312;
}

.top-buffer { 
  margin-top:100px; }

.Greetings
{
  background:#131312;
  margin-top:100px;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}

#Bldg
{
  height:auto;
}

.welcome
{
  color: white;
}

#TypeWriter
{
  color:#6C63FF;
  font-size: 50px;
}

.casual
{
  color:white;
}


.btn-outline-light
{
  background-color:#7C7C7C;
  color:black;
  border-color: black;
}
.btn-outline-light:hover
{
   background-color:#6C63FF;
   color:black;
   border-color: #6C63FF;
}


.heading-2
{
  font-size: 50px;
  margin-left:50px;
}

@media screen and (max-width: 750px) {
  .heading-2
  {
    margin-left:0px;
  }
}
.search_field .input
{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 38px;
  background-color:#404040;
  color: #FFFFFF66;
  border-radius: 1.5vh;
  border-color: black;
  margin-top: 1vh;
}

#dist
{
    background: #404040;
    font-size: 24px;
    color: #FFFFFF66;
    border-radius: 1.5vh;
    width: 50%;
    border-color: black;
    padding:0.5vh;
    margin-top:1vh;
}

.btn-outline-Restaurant
{
  background-color:#6C63FF;
  color:black;
  border-color: black;
  margin-top:1vh;
  font-size: 18px;
  width:25%;
  border-radius:1.5vh;
}

.card
{
  background-color:#484444;
  color:white;
  border-radius: 1.5vh;
}

.resultN,.resultR
{
  display:none;
}

.btn-outline-Notes
{
  background-color:#6C63FF;
  color:black;
  border-color: black;
  margin-top:1vh;
  font-size: 18px;
  width:25%;
  border-radius:1.5vh;
}

